@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --primary: #e8b86d;
   --bg: #201f31;
   --accents: #373646;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   font-family: "SUSE", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}
html {
   background-color: var(--bg);
}

.styled-table {
   margin: 10px 2px;
   border-collapse: separate;
}
.styled-table thead tr th {
   background-color: var(--primary);
   color: #000;
   text-align: center;
   vertical-align: bottom;
   position: sticky;
   top: 0;
   text-wrap: nowrap;
   text-overflow: ellipsis;
   overflow: scroll;
}
.styled-table td,
th {
   padding: 5px 7px;
}

.styled-table tbody tr:nth-of-type(even) {
   background-color: var(--bg);
}

.styled-table tbody tr.active-row {
   font-weight: bold;
   color: #fff;
}
.styled-table thead td {
   font-size: 14px;
   white-space: nowrap; /* Prevents wrapping */
   overflow: hidden; /* Hides overflow text */
   text-overflow: ellipsis;
}

.styled-table tbody td {
   cursor: pointer;
}
.styled-table tbody tr:hover {
   opacity: 0.8;
}
select option {
   background-color: var(--accents);
   padding: 100px 10px;
}
.selected td,
.selected th {
   background-color: var(--primary) !important;
   color: black !important;
}
input {
   border: none;
   outline: none;
   background-color: var(--accents);
   padding: 4px 8px;
}
input:focus {
   outline: none;
}
